body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

header{
    background-color: blue;
    text-align: center;
    padding: 20px;
}

h1, h2{
    font-family: "Bebas Neue", serif;
}

header h1{
    color: white;
    font-size: 70px;
}

header img{
    border-radius: 170px;
    width: 300px;
    height: 300px;
    border: 20px solid black;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
}

a{
    color: black;
}

a:hover{
    color: purple;
}

footer{
    text-align: center;
}


